aiohttp
emoji==2.14.1
hypercorn==0.17.3
jieba
psutil
quart
quart_cors==0.8.0
aiomysql
pydantic
sqlalchemy[asyncio]
aiosqlite
cachetools>=5.3.0
apscheduler
prometheus_client>=0.20.0
prometheus-async>=22.2.0
